/* navigation bar  */

#navbar {
    flex-direction: column;
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}


/* home section  */

#home {
    height: 280px;
}

#home p {}


/* service section  */

#services {
    flex-direction: column;
}

#services .box {}


/* clients section  */

#clients {
    flex-wrap: wrap;
}

#clients img {
    width: 66px;
    padding: 6px;
}


/* contact us  */

#contact-box form {
    width: 80%;
}


/* footer  */


/* utility classes */

.h-primary {
    font-size: 26px;
    ;
}

.btn {
    font-size: 13px;
    padding: 4px 8px;
}